<div class="page-header">
  <h1>Tweet</h1>
</div>

<p>{{model.message}}</p>
<p><span class="u-capitalize">{{model.status}}</span> {{moment-from-now model.scheduled}}</p>
<p>Created on {{moment-format model.createdAt 'MMMM Do YYYY'}}</p>
<p>Status: {{model.status}}</p>

{{outlet}}
