<div class="page-header">
  <h1>Tweet</h1>
</div>

<p>{{model.message}}</p>
<p>Scheduled {{moment-from-now model.scheduled}}</p>
<p>Created on {{moment-format model.createdAt 'MMMM Do YYYY'}}</p>
<p>{{model.status}}</p>

{{#link-to 'tweet.edit' model}}
  {{#bs-button type="primary" buttonType="button"}}
    Edit
  {{/bs-button}}
{{/link-to}}

{{outlet}}
