<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#if session.isAuthenticated}}
        {{#link-to "tweets" classNames="navbar-brand"}}Tweeter Client{{/link-to}}
      {{else}}
        {{#link-to "application" classNames="navbar-brand"}}Tweeter Client{{/link-to}}
      {{/if}}
    </div>

    <ul class="nav navbar-nav navbar-right">
      {{#unless session.isAuthenticated}}
        <li><a {{action "signIn"}}>Login</a></li>
      {{else}}
        <li>
          <a {{action "signOut"}}>
            <img src="{{session.currentUser.picture}}" alt="{{session.currentUser.name}}" width="25">
            Logout
          </a>
        </li>
      {{/unless}}
    </ul>
  </div>
</nav>

<div class="container">
  {{#if session.isAuthenticated}}
    {{outlet}}
  {{else}}
    <div class="well">
      You're not logged in. Why don't you <a {{action "signIn"}}>login</a>?
    </div>
  {{/if}}
</div>
