<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to "application" classNames="navbar-brand"}}Tweeter Client{{/link-to}}
    </div>

    <ul class="nav navbar-nav navbar-right">
      {{#unless session.isAuthenticated}}
        <li><a {{action "signIn"}}>Login</a></li>
      {{else}}
        <li><a {{action "signOut"}}>Logout {{session.currentUser.name}}</a></li>
      {{/unless}}
    </ul>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>
